body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.container.c2 {
    height: 100vh;
}

.title {
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
}

.forms-container {
    display: flex;
    justify-content: space-between;
}

.form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #333;
}

input[type="email"],
input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 20px;
}

.message a {
    color: #007bff;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

.form-inline {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.expense_table {
    overflow-x: auto;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}